@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-merqado-gray-light;
  background-image: radial-gradient(
      circle at top right,
      rgba(0, 51, 160, 0.1),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom left,
      rgba(242, 140, 40, 0.1),
      transparent 50%
    );
  background-attachment: fixed;
}

/* Esconde o botão 'X' padrão do navegador em campos de busca */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
