@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animação fluida horizontal do degradê */
@keyframes pan-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html,
body,
#root {
  height: 100%;
}

body {
  /* Cor base fallback */
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(244, 254, 255) 50%,
    rgba(255, 248, 232, 1) 100%
  );

  /* Suavidade da transição */
  background-size: 300% 300%;
  animation: pan-gradient 30s ease infinite;

  /* Texto escuro para contraste */
  color: #333333;
}
